<script type="text/MessageFromCelery" id="messageFromServer">
    <div class="col-12 channel" id="<%channel_id%>">
        <div class="row">
            <div class="col-2" id="channel_id"><%channel_id%></div>
            <div class="col-1" id="priority"><%priority%></div>
            <div class="col-3" id="channel_type"><%channel_type%></div>
            <div class="col-3" id="caller_name"><%caller_name%></div>
            <div class="col-3" id="connected_name"><%connected_name%></div>
        </div>
    </div>
</script>
