<script type="text/validMessage" id="validMessage">
    <div class="valid-feedback feedback" style="display:block;"><%message%></div>
</script>

<script type="text/invalidMessage" id="invalidMessage">
    <div class="invalid-feedback feedback" style="display:block;"><%message%></div>
</script>

<script type="text/addModelPermission" id="addModelPermission">
    <li data-value="<%value%>" style="padding:0.5vw 0; border-bottom:1px solid black;background-color: #ececec;" class='row'>
    <span class='col-10'><%description%></span><button class='btn btn-danger col-2 reset-permission'>Reset</button></li>
</script>